@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

@layer base {
  :root {
    --brand-blue: #2563eb;
  }
  h1, h2, h3, .font-serif {
    font-family: 'Playfair Display', serif;
  }
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-white text-slate-900 overflow-x-hidden;
  }
}